//
   Inloggning
   *********************
   Programmeringsklubben
   TDP013 Linköpings universitet
   http://www.ida.liu.se/~TDP013/
   2013-10 HT Läsperiod 1
   Hannah Börjesson (hanbo174), Per Jonsson (perjo927), IP2
   https://github.com/hannahborje/Node-Boilerplate

extends layout

block head
    include sign-form-style

block content
    //include nav-start
    include nav-unlogged-in

    .container
        form(id='myForm', action='/authorize', method='post').form-signin
            h2.form-signin-heading Logga in
            input.input-block-level(type='text', placeholder='Email-adress', name="email", required)
            input.input-block-level(type='password', placeholder='Lösenord', name="password", required)

            button.btn.btn-large.btn-primary Logga in
            br
            p.signin-tip
                // Felmeddelande
                a(href='#', id="signin-error", data-placement="bottom", data-toggle='tooltip',
                title='Vi kunde tyvärr inte logga in dig. Prova igen.')

block footer
    script(src="/js/ajax-signin.js")
