//
   Startsida
   *********************
   Programmeringsklubben
   TDP013 Linköpings universitet
   http://www.ida.liu.se/~TDP013/
   2013-10 HT Läsperiod 1
   Hannah Börjesson (hanbo174), Per Jonsson (perjo927), IP2
   https://github.com/hannahborje/Node-Boilerplate


extends layout

block head
    style(type='text/css')
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

block content
    include nav-start

    .container
        .hero-unit
            h2 Välkommen till Programmeringsklubben!
            p
                | Programmeringsklubben är ett nätverk för dig som vill utvecklas som programmerare. Här kan du ta del av andras kunskap och dela med dig av din egen.
            p
                a(href ='explore').btn.btn-primary.btn-large Utforska  »
        .row
            .span4
                h2 Logga in
                p
                    | Härligt, du är redan medlem!
                    br
                    | Logga in här.
                    br
                p
                    a.btn(href='signin') Logga in »
            .span4
                h2 Registrera dig
                p
                    | Bli medlem! Det är gratis!
                    br
                    | Registrera dig här.
                    br
                p
                    a.btn(href='register') Registrera dig »
            .span4
                h2 Utforska
                p
                    | Vill du veta mer?
                    br
                    | Här får du reda på mer om
                    br
                    | programmeringsklubben.
                p
                    a.btn(href='explore') Utforska »


block footer
    script(src="/js/ajax-signin.js")
