//
   500
   *********************
   Programmeringsklubben
   TDP013 Linköpings universitet
   http://www.ida.liu.se/~TDP013/
   2013-10 HT Läsperiod 1
   Hannah Börjesson (hanbo174), Per Jonsson (perjo927), IP2
   https://github.com/hannahborje/Node-Boilerplate

extends layout

block head
    style(type='text/css')
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
block content
    include nav-start
    .container
        .hero-unit
            h1 Oops!
            p
                | HTTP: 500. Server-fel. Var god försök igen, eller senare.
            p
                a.btn.btn-primary.btn-large Utforska  »
        .row
            .span4
                h2 Logga in
                p
                p
                    a.btn(href='signin') Inloggning »
            .span4
                h2 Registrera dig
                p
                p
                    a.btn(href='register') Registrering »
            .span4
                h2 Utforska
                p
                p
                    a.btn(href='explore') Utforskning »
block footer
    script(src="/js/ajax-signin.js")