// Startsida

extends layout

block head
    style(type='text/css')
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

block content
    include nav-start

    .container
        .hero-unit
            h1 Om oss
            p
                | Du besöker just nu ett projekt i kursen TDP013 (Webbprogrammering och interaktivitet) på Linköpings universitet. Projektet är utfört av Hannah Börjesson och Per Jonsson. Båda är studenter på utbildningen Innovativ Programmering, åk 2. Systemet är byggt på en kombination av Node.js/Express, MongoDB, HTML5, Bootstrap, JQuery. Se mer på GitHub.
            p
                a(href='#contact', data-toggle='modal').btn.btn-primary.btn-large
                   | Kontakta oss »
            include popupmsg

block footer
    script(src="/js/ajax-signin.js")
