// Denna sida visas när man vill se hur Programmeringsklubben funkar

extends layout

block head
    style(type='text/css')
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

block content
    include nav-logged-in
    .container-fluid
      .row-fluid
         .span3
         .span7
           .hero-unit
             .row-fluid
               .columnA.pull-left
                   table.table
                     //caption
                       | Rubrik
                     thead
                        h2
                                #fullname
                     tr
                         td

                             p
                                 | ORT
                                 br
                                 | ÅLDER
                                 br
                                 | YRKE
                                 br
                                 | FÖRETAG
                                 br
                                 | UTBILDNING

                         td
                                #city
                                #age
                                #occupation
                                #company
                                #education
               .columnB.pull-right
                 ul.thumbnails
                   li.span12
                       //.thumbnail
                       img.img-polaroid(src='/img/empty-pic.png')
                       .caption
                           // TODO: Lös inline
                           .btn-group
                                .dropdown
                                    a.btn.btn-small.dropdown-toggle(data-toggle='dropdown', href='#')
                                        | #{friendtext}
                                      if (!isMe && !isFriend)
                                        ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                                            h6 Vill du skicka vänförfrågan?
                                            .btn-group.inline
                                                a#friend-request.btn.btn-small(href="#") Ja
                                                |
                                                a.btn.btn-small(href="#") Nej
                                .dropdown
                                  if (!isMe && isFriend)
                                    a.btn.btn-small(href='#sendMsg', data-toggle='modal')
                                        | Skriv ett meddelande
                            include popupmsg
                 br
                 .result

           .row-fluid
             .span4
               h3
                 | Om mig
               p.lead
                   #aboutme
               h3
                 | Kunskaper
               p.lead
                    #knowledge
               h3
                 | CV
               p.lead
                    #cv

         .span2

block footer
    div.username(style='visibility: hidden;') #{username}
    script(src="/js/ajax-search.js")
    script(src="/js/ajax-friend.js")