//
   Navbar
   *********************
   Programmeringsklubben
   TDP013 Linköpings universitet
   http://www.ida.liu.se/~TDP013/
   2013-10 HT Läsperiod 1
   Hannah Börjesson (hanbo174), Per Jonsson (perjo927), IP2
   https://github.com/hannahborje/Node-Boilerplate


.navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
        .container-fluid
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            // Meny
            a.brand(href='dash') Programmeringsklubben
            .nav-collapse.collapse
                ul.nav
                    li.active
                        a(href='dash') Hem
                    li
                        a(href='about') Om
                ul.nav
                    li
                        // Sök
                        form#userSearch.navbar-form.pull-right

                          a(href='#', id="searchtip", data-placement="bottom", data-toggle='tooltip',
                          title='Välj ett av förslagen som dyker upp när du skriver in text (klicka på det), tryck sedan på förstoringsglaset. Får du inte upp några förslag finns inte användaren. Tryck på mellanslag för att få fram alla användare.')

                            input.span2(type='text', placeholder='Sök efter användare', data-provide="typeahead",
                            name="search", id = "search", autocomplete="off").typeahead
                            button.btn(type='submit')
                              i.icon-search
                ul.nav
                    li
                        |
                    li
                      |
                    li
                        // Gå till inbox / markera som läst
                        button#mark-as-read.btn
                              i.icon-envelope
                              span.badge#msgs
                p.navbar-text.pull-right
                    // Fler menyval
                    | Inloggad som:
                    a#nav-username.navbar-link(href='#') #{reqsessionuserid}
                    &nbsp;
                    a.btn-success.btn-small(href="/logout") Logga ut