//
   Navbar för utforskningssidan (icke navigeringsbar)
   *********************
   Programmeringsklubben
   TDP013 Linköpings universitet
   http://www.ida.liu.se/~TDP013/
   2013-10 HT Läsperiod 1
   Hannah Börjesson (hanbo174), Per Jonsson (perjo927), IP2
   https://github.com/hannahborje/Node-Boilerplate


.navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
        .container-fluid
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            // Textlänkar
            a.brand(href='/') Programmeringsklubben
            .nav-collapse.collapse
                ul.nav
                    li.active
                        a(href='/') Hem
                    li
                        a(href='about') Om
                ul.nav
                    li
                        // Sökruta
                        form.navbar-form.pull-right
                            input.span2(type='text', placeholder='Sök')
                            button.btn(type='submit')
                              i.icon-search
                ul.nav
                    li
                        |
                    li
                      .dropdown
                          // Inbox
                          button.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                              i.icon-envelope
                              span.badge #{20}
                p.navbar-text.pull-right
                    // Användarinfo & utloggning
                    | Inloggad som:
                    a.navbar-link(href='#') Användarnamn
                    &nbsp;
                    a.btn-success.btn-small(href="#") Logga ut