.navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
        .container
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href='start') Programmeringsklubben
            .nav-collapse.collapse
                ul.nav
                    li.active
                        a(href='start') Hem
                    li
                        a(href='about') Om
                    li
                        a(href='explore') Utforska

                form(action="/authorize", method="post", id="myForm").navbar-form.pull-right.signin-tip
                    input.span2(type='text', placeholder='Email', name="email", required)
                    |
                    // Felmeddelande
                    a(href='#', id="signin-error", data-placement="bottom", data-toggle='tooltip',
                    title='Vi kunde tyvärr inte logga in dig. Prova igen.')
                    input.span2(type='password', placeholder='Lösenord', name="password", required)
                    |
                    button.btn(type='submit') Logga in

                a(href='register').button.btn.btn-success(type='submit') Registrera
