.navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
        .container-fluid
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href='#') Programmeringsklubben
            .nav-collapse.collapse
                ul.nav
                    li.active
                        a(href='#') Hem
                    li
                        a(href='#about') Om
                    li
                        a(href='#explore') Utforska