
#myPass.modal.hide.fade
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3 Modal header
    .modal-body
        p One fine body…
    .modal-footer
        a.btn(href='#') Close
        a.btn.btn-primary(href='#') Save changes

#myInbox.modal.hide.fade
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3 Modal header
    .modal-body
        p One fine body…
    .modal-footer
        a.btn(href='#') Close
        a.btn.btn-primary(href='#') Save changes

#sendMsg.modal.hide.fade
    .modal-header
        button#close-msg.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3 Skriv ett meddelande
    .modal-body
        textarea#send-msg Skriv här...
    .modal-footer
        a#dispose-msg.btn(href='#') Släng
        a#write-msg.btn.btn-primary(href='/sendMsg', name="write-msg", title="") Skicka

#contact.modal.hide.fade
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3 Skriv ett meddelande
    .modal-body
        p Tryck här för att skriva ...
    .modal-footer
        //a.btn(href='#') Släng
        a.btn.btn-primary(href='#') Skicka
