extends layout

block head
    include sign-form-style

block content
    include nav-unlogged-in

    .container
        form(action='/signin', method='post').form-signin
            h2.form-signin-heading Registrera dig här
            input.input-block-level(type='text', placeholder='Ditt namn', name="username")  // för/efter?
            input.input-block-level(type='text', placeholder='Email-adress', name="email")
            input.input-block-level(type='password', placeholder='Ange ett lösenord (krav på lösenord??)', name="password")
            input.input-block-level(type='password', placeholder='Bekräfta lösenord', name="confirm")
            button.btn.btn-large.btn-success(type='submit')#submit Registrera

        .row-fluid
            .span4


            .span4
                //button.btn(type="submit") Hej
                // Felmeddelanden kan skickas hit till en div kanske?

            .span4


block footer
    //script
    //    $(document).ready(function() {
    //        $('#submit').click(function(){
    //           console.log()
    //        });
    //    }
    //    });