extends layout

block head
    include sign-form-style

block content
    include nav-unlogged-in
    //include nav-start

    .container
        form(action="/try-register", method='post').form-signin#userForm
            h2.form-signin-heading Registrera dig här
            input.input-block-level(type='text', placeholder='Förnamn och efternamn',
            name="name", id="name", required)
            input.input-block-level(type='text', placeholder='Email-adress (användarnamn)',
            name="email", id="email", required)
            input.input-block-level(type='password', placeholder='Välj ett lösenord',
            name="password", id="password", required)
            input.input-block-level(type='password', placeholder='Bekräfta lösenord',
            name="confirm", id="confirm", required)
            button.btn.btn-large.btn-success(type='submit')#submit Registrera
            // TODO
            br
            p
               .result

block footer
    // Courtesy of jqueryvalidation.org ***
    script(src='http://jquery.bassistance.de/validate/jquery.validate.js')
    //
    script(src="/js/validate.js")
    script(src="/js/ajax-register.js")
    // ajax-signin