extends layout

block head
    include sign-form-style

block content
    include nav-unlogged-in

    .container
        form.form-signin
            h2.form-signin-heading Logga in
            input.input-block-level(type='text', placeholder='Email-adress')
            input.input-block-level(type='password', placeholder='Lösenord')
            label.checkbox
                input(type='checkbox', value='remember-me')
                | Kom ihåg mig ??
            button.btn.btn-large.btn-primary(type='submit') Logga in

    .container
        // Felmeddelanden kan skickas hit till en div kanske?

